<%= link_to 'Create New Envelope', new_account_envelope_path(@account) %>

<h2><%= @account.name %></h2>
<% unless @account.envelopes.empty? %>
  <% @account.envelopes.each do |envelope| %>
    <h3>Envelope Name</h3>
    <%= link_to envelope.name, account_envelope_path(@account, envelope) %>
    <h3>Envelope Balance</h3>
    <%= number_to_currency(envelope.balance) %>
  <% end %>
<% end %>
